<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.phonegapi" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>phonegapi</name>
    <description>
        A sample Apache Cordova application that authenticates with google services and uses google gapi.
    </description>
    <author email="rscohn2@gmail.com" href="http://cordova.io">
        RoCo Software
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
